body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header {
    text-align: center;
    background-color: #001f3f; /* Azul marino */
    color: white; /* Texto blanco */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    margin: 0;
}

header p {
    font-size: 1em;
    margin: 10px 0;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 1.5em;
    border-bottom: 2px solid #001f3f; /* Azul marino */
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.profile {
    text-align: justify;
}

.job, .edu {
    margin-bottom: 15px;
}

.job-header, .edu-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job h3, .edu h3 {
    font-size: 1.1em;
    margin-top: -10px;
}

.paragraphs {
    margin-top: -30px;
}

.location {
    font-weight: bold;
}

.location, .date {
    font-size: 0.9em;
    color: #666;
    text-align: right;
}

.experience ul{
    margin-left: 30px;
}

.experience ul {
    padding: 0;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills ul li, .experience ul li {
    margin-bottom: 5px;
}

.skills span {
    color: #666;
    font-weight: bold;
}

.languages p {
    font-size: 1em;
    margin: 0;
}
